body{
    background-color: cadetblue;
}

.card{
    background-color: white;
    width:200px;height:300px;
    margin:20px;padding:10px;
    border:solid 1px black
}

.photo{
    max-width:180px
}

.flexy{
    display:flex;
    flex-wrap:wrap
}